img {width: 350px;
height: auto;}

*{background-color: rgb(48, 48, 48);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(237, 221, 231);}

.h2 {font-weight: 500;font-style: oblique;}

.button  {color: rgb(48, 48, 48);background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;}